@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --verdeescuro: #3D5300;
  --verdeclaro: #ABBA7C;
  --amarelo: #FFE31A;
  --laranja: #F09319;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--verdeclaro);
}

.selected {
  color: var(--verdeescuro);
}
