@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --verdeescuro: #3D5300;
  --verdeclaro: #ABBA7C;
  --amarelo: #FFE31A;
  --laranja: #F09319;
  --sombrainterna: rgba(0, 0, 0, 0.06) 0 2px 4px;
  --sombracontainer: rgba(0, 0, 0, 0.06) 0 0px 7px 4px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--verdeclaro);
}

.selected {
  color: var(--verdeescuro);
}

.imgs {
  width: 125px;
  height: 125px;
  object-fit: contain;
  max-width: 125px;
  height: 125px;
}

.textshadow {
  text-shadow: 0px 0px 5px var(--laranja);
}

.roundedFull {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.roundedFullMini {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}


.foodsContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}